<main>
  <app-header></app-header>

  <section
    class="relative mt-[-77px] w-full bg-gray-900 px-4 pt-[180px] text-white md:px-10 md:pt-[262px] lg:px-[120px]"
  >
    <div
      class="absolute inset-0 bg-cover bg-center opacity-30"
      style="
        background-image: url('https://media.themoviedb.org/t/p/w1920_and_h800_multi_faces/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg');
      "
    ></div>

    <div class="relative items-start gap-6">
      <div class="md:absolute">
        <img
          [src]="$movie().posterUrl"
          alt="Wonder Woman 1984"
          class="w-[180px] rounded-lg shadow-lg md:w-[220px]"
        />
      </div>

      <div class="mt-2 flex-1 md:ml-[200px] lg:mt-0 lg:ml-[250px]">
        <p class="text-sm text-gray-300">{{ $movie().year }}</p>
        <h1 class="text-2xl font-bold md:text-4xl">{{ $movie().title }}</h1>
        <p class="mt-1 text-sm">{{ $movie().genre }}</p>
      </div>

      <div
        class="mt-6 flex flex-wrap items-center gap-4 bg-gray-900/75 px-4 py-6 md:mt-4 md:mr-0 md:ml-[-10px] md:flex-nowrap md:pl-[250px] xl:mr-[-120px] xl:ml-[-120px] xl:pl-[365px]"
      >
        <div class="flex items-center gap-1 md:mr-[40px] xl:mr-2">
          <img src="assets/icons/star.svg" alt="Star" width="28" height="28" />
          <span class="text-2xl font-semibold md:text-[36px]">
            {{ $movie().imdbRating }}
          </span>
        </div>

        <div
          class="flex flex-col gap-2 border-r border-gray-400 pr-4 md:gap-3 md:pr-8"
        >
          <p class="text-xs text-gray-400 uppercase">User Score</p>
          <p class="text-xs text-white">{{ $movie().imdbVotes }} VOTES</p>
        </div>

        <div
          class="flex flex-col gap-2 border-r border-gray-400 pr-4 md:gap-3 md:pr-8"
        >
          <p class="text-xs text-gray-400 uppercase">Status</p>
          <p class="text-xs text-white uppercase">Released</p>
        </div>

        <div
          class="flex flex-col gap-2 border-r border-gray-400 pr-4 md:gap-3 md:pr-8"
        >
          <p class="text-xs text-gray-400 uppercase">Language</p>
          <p class="text-xs text-white uppercase">{{ $movie().language }}</p>
        </div>

        <div
          class="flex flex-col gap-2 border-r border-gray-400 pr-4 md:gap-3 md:pr-8"
        >
          <p class="text-xs text-gray-400 uppercase">Budget</p>
          <p class="text-xs text-white uppercase">{{ $movie().boxOffice }}</p>
        </div>

        <div class="flex flex-col gap-2 pr-4 md:gap-3 md:pr-8">
          <p class="text-xs text-gray-400 uppercase">Production</p>
          <p class="text-xs text-white uppercase">{{ $movie().production }}</p>
        </div>
      </div>
    </div>
  </section>

  <section
    class="bg-white px-4 pt-[40px] pb-[40px] md:px-10 md:pt-[43px] md:pb-[50px] lg:px-[120px]"
  >
    <div class="mt-6 md:ml-[200px] lg:ml-[250px]">
      <h3 class="flex text-left text-lg font-semibold text-red-500 uppercase">
        Overview
      </h3>
      <p class="mt-2">{{ $movie().plot }}</p>
    </div>

    <h2 class="mt-6 text-sm font-bold text-red-500 uppercase">Reviews</h2>

    <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
      @for (review of reviews; track $index) {
        <app-review-card
          date="{{ review.date }}"
          highlightMessage="{{ review.highlightMessage }}"
          message="{{ review.message }}"
          name="{{ review.name }}"
          rating="{{ review.rating }}"
        ></app-review-card>
      }
    </div>
  </section>

  <section
    class="bg-[#1E232B] px-4 py-[40px] md:px-10 md:py-[50px] lg:px-[120px]"
  >
    <p class="text-sm text-white uppercase">Recommendation Movies</p>

    <div class="mt-[37px]">
      <app-movies-grid
        [isLoading]="$isLoadingRecomendations()"
        [movies]="$movies()"
        (clicked)="onViewButtonClick($event)"
      ></app-movies-grid>
    </div>
  </section>

  <app-footer></app-footer>
</main>
