<main>
  <app-header></app-header>

  <section class="Landing px-6 py-12 sm:px-12 lg:px-20 xl:px-28">
    <div class="flex flex-wrap items-center justify-between gap-4">
      <div>
        <h2
          class="relative inline-block text-xl font-semibold text-white sm:text-2xl"
        >
          <span
            class="absolute -top-2 left-0 h-1 w-10 bg-red-500 sm:w-12"
          ></span>
          Discover Movies
        </h2>
      </div>
      <div class="flex flex-wrap gap-2">
        <button
          appButton
          [theme]="
            isPopularitySort ? buttonTheme.Primary : buttonTheme.Secondary
          "
          (click)="onSortButtonClick('popularity')"
        >
          Popularity
        </button>
        <button
          appButton
          [theme]="
            isReleaseDateSort ? buttonTheme.Primary : buttonTheme.Secondary
          "
          (click)="onSortButtonClick('releaseDate')"
        >
          Release Date
        </button>
      </div>
    </div>

    <div class="mt-10">
      <app-movies-grid
        [isLoading]="$isLoading()"
        [movies]="$movies()"
        (clicked)="onViewButtonClick($event)"
      ></app-movies-grid>
    </div>
  </section>

  <app-footer></app-footer>
</main>
