<main class="Movies min-h-screen">
  <app-header></app-header>

  <section class="px-[120px] pt-[89px] pb-[56px]">
    <div>
      <h2 class="relative inline-block text-2xl font-semibold text-white">
        <span class="absolute -top-2 left-0 h-1 w-12 bg-red-500"></span>
        Movies
      </h2>
    </div>
  </section>

  <section class="pb-10">
    <div class="flex gap-[30px] px-[120px]">
      <!-- Sidebar -->
      <div class="bg-gray-900 p-4 rounded-lg">
        <app-filter></app-filter>
      </div>

      <!-- Movies Grid -->
      <div
        class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-5"
      >
        @for (movie of $movies(); track $index) {
          <app-card
            [isLoading]="$isLoading()"
            [image]="movie.poster"
            [title]="movie.title"
            [type]="movie.type"
            [year]="movie.year"
            rating="9.0"
          ></app-card>
        }
      </div>
    </div>
  </section>

  <section class="mt-4 mb-[89px] flex justify-center">
    <button appButton class="px-[38px]">Load More</button>
  </section>

  <app-footer></app-footer>
</main>
