@if (isLoading()) {
  <div class="animate-pulse rounded-2xl bg-white p-6 shadow-lg">
    <div class="flex items-center gap-4">
      <div class="h-10 w-10 rounded-full bg-gray-300"></div>
      <div class="flex flex-col gap-2">
        <div class="h-4 w-24 rounded bg-gray-300"></div>
        <div class="h-3 w-16 rounded bg-gray-300"></div>
      </div>
      <div
        class="ml-auto flex items-center gap-2 rounded-lg bg-gray-100 px-3 py-1"
      >
        <div class="h-5 w-5 bg-gray-300"></div>
        <div class="h-6 w-8 rounded bg-gray-300"></div>
      </div>
    </div>

    <div class="mt-3 space-y-2">
      <div class="h-4 w-full rounded bg-gray-300"></div>
      <div class="h-4 w-3/4 rounded bg-gray-300"></div>
    </div>
  </div>
} @else {
  <div class="rounded-2xl bg-white p-6 shadow-lg">
    <div class="flex items-center gap-4">
      <img
        src="assets/icons/avatar.svg"
        alt="Reviewer"
        class="h-10 w-10 rounded-full"
      />
      <div>
        <h3 class="text-md font-bold">{{ name() }}</h3>
        <p class="text-sm text-gray-500">{{ date() }}</p>
      </div>
      <div class="ml-auto flex rounded-lg bg-gray-100 px-3 py-1">
        <span class="text-yellow-500">
          <img
            src="assets/icons/star.svg"
            alt="Star"
            class="mt-3"
            width="17"
            height="17"
          />
        </span>
        <span class="ml-1 text-[36px] font-bold">{{ rating() }}</span>
      </div>
    </div>

    <p class="mt-3 text-gray-600 italic">
      {{ message() }}
      <span class="cursor-pointer text-red-500 underline">
        {{ highlightMessage() }}
      </span>
    </p>
  </div>
}
