<div
  [ngClass]="{
    grid: true,
    'gap-6 gap-x-8': true,
    'grid-cols-1': numberOfGrid === 1,
    'sm:grid-cols-2': numberOfGrid >= 2,
    'md:grid-cols-3': numberOfGrid >= 3,
    'lg:grid-cols-4': numberOfGrid >= 4,
    'xl:grid-cols-5': numberOfGrid >= 5,
    '2xl:grid-cols-6': numberOfGrid >= 6,
    'justify-center': true,
  }"
>
  @for (movie of movies; track $index) {
    <app-card
      [imdbID]="movie.imdbID"
      [isLoading]="isLoading"
      [image]="movie.posterUrl"
      [title]="movie.title"
      [type]="movie.type"
      [year]="movie.year"
      rating="9.0"
      (clicked)="onViewButtonClick(movie.imdbID)"
    ></app-card>
  }
</div>
