<div
  [ngClass]="{
    grid: true,
    'gap-6 gap-x-8': true,
    'grid-cols-1': numberOfGrid === 1,
    'grid-cols-2': numberOfGrid === 2,
    'grid-cols-3': numberOfGrid === 3,
    'grid-cols-4': numberOfGrid === 4,
    'grid-cols-5': numberOfGrid === 5,
    'grid-cols-6': numberOfGrid === 6,
    'grid-cols-7': numberOfGrid >= 7,
  }"
>
  @for (movie of movies; track $index) {
    <app-card
      [imdbID]="movie.imdbID"
      [isLoading]="isLoading"
      [image]="movie.poster"
      [title]="movie.title"
      [type]="movie.type"
      [year]="movie.year"
      rating="9.0"
      (clicked)="onViewButtonClick(movie.imdbID)"
    ></app-card>
  }
</div>
